@charset "UTF-8"; 
h1{
    font-size: 1.75em;
    color:#008080;
    text-align:center;
    font-weight:
}
h2{
    border: solid；
    font-size: 1.25em;
    background-color:#ffffe0;
    color:#ffffff;
}
p{
    font-size: 0.8em;
    color:#008000;
    line-height:2em;
    
}
li{
    font-weight:bold;
    font-size:800%;
    color:#ffd700;
    line-height: 1;
    padding: 4px;
    margin-right: 4px;
    font-size: 0.8em;
   
}
