@charset "UTF-8"; 
h1{
    font-size: 1.75em;
    color:#008080;
    text-align:center;
    font-weight:
}
h2{
   
    font-size: 1.25em;
    background-color:#ffffe0;
    color:#ffffff;
}

body{background-color:#ffffe0;
background-image: url(2017-02-08-13-04-50.jpg)
    
}
li{
    font-weight:bold;
    font-size:800%;
    color:#ffd700;
    line-height: 1;
    padding: 4px;
    margin-right: 4px;
    font-size: 0.8em;
   
}
