@charset "UTF-8"; 
h1{
    font-weight:700;
}
h2{
   
    font-size: 1.25em;
    background-color:#ffffe0;
    color:#ffffff;
}

body{background-color:#ffffe0;
background-image: url("2017-02-08-13-04-50.jpg")
    
}
li{
   background:#ffffff;
    padding:10px;
    width:300px;
    border:1px solid #cccccc;
    
   
}
